<!DOCTYPE html>
<html>
<head>
<title>Ev-arena Header</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="stylesheet" href="Header.css"/>
</head>
<body>
 <div class="Navbar">
        <div class="logo">
            <img src="../../Assets/Images/logo.png" alt="logo"/>
        </div>
        
        <!-- logo and map Station -->
        <div class="charging_station">
             <img src="../../Assets/Images/location-01.png" alt="location-icon"/>
             <div class="nameandlocation">
                <p>
                    Nearest Charging Station
                 </p><br>
                 <h3 style="font-weight:900px;margin-top:-30px;">Kathmandu</h3>
             </div>
        </div>

        <!-- list of navbar like home and all -->
        <div class="Navbar_list">
             <ul>
                <li>
                    Home
                </li>
                <li>
                    <a href="pages/Ev-finder/Ev-finder.html" style="text-decoration:none;color:black"> Ev Finder</a>
                </li>
                <li>
                    Compare 
                </li>
                <li>
                    Browse
                </li>
             </ul>
        </div>

        <!-- search bar -->

        <div class="Navbar_search">
            <img src="../../Assets/Images/Vector.svg" alt="search"/>
        </div>


        <!-- For mobile devices -->
         <div class="menu_bar">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/0133e98403.js" crossorigin="anonymous"></script>
</body>
</html>