<!DOCTYPE html>
<html>
<head>
<title>Ev-arena Footer</title>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="stylesheet" href="Footer.css"/>
</head>
<body>
    <div class="footer">
        <div class="footer_list">
         <ul>
             <li>
                 Home
             </li>
             <li>
                 EV Finder
             </li>
             <li>
                 Compare
             </li>
             <li>
                 Browse
             </li>
             <li>
                 News
             </li>
         </ul>
        </div>
       <div class="footer_logo">
           <img src="../../Assets/Images/logo2.png" alt="footer-logo"/>
           <div class="rights">
             <div class="c">
                 <p style="font-weight:bold">C</p>
             </div>
             <p style="color:white;font-weight:bold">All Right Reserved 2023</p>
           </div>
       </div>
 
       <!-- social icon for footer section -->
       <div class="social">
         <div class="social_icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
         </div>
         <h3>WaterFlow Technology</h3>
         <p>Kathmandu, Nepal</p>
       </div>
     </div>
     <script src="https://kit.fontawesome.com/0133e98403.js" crossorigin="anonymous"></script> 
</body>
</html>