body{
    margin: 0;
    padding: 0;
    
    width: 100%;
}

/* navbar css  */
.Navbar{
    height:80px ;
    width: 98%;

    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: flex-start;
    align-items:center;
    top:0;
    overflow-y:auto;
    overflow-x: hidden;
    
    z-index: 10;
    position:sticky;
    background-color: white;

}
/* for mobile view of navbar */
@media screen and (max-width:640px){
    .Navbar{
        width: 100%;

        top: 0;

        position:fixed;

        z-index: 10;

    }
}


.charging_station{
        height: 74px;
        width: 248px;

        display: flex;
        justify-content: center;
        align-items: center;


}
/* for mobile view of charging station*/
@media screen and (max-width:640px){
    .charging_station{
        display: none;
    }
}


.nameandlocation{
    margin-left: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0;
}


.Navbar-list{
    height: 74px;
    width: 547px;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width:320px){
        display:none;
    }
}
ul{  
    
    text-decoration: none;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;

    
    @media screen and (min-width:320px){
        display:none;
    }
}
li{
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;

    padding-left: 50px;
}
 /* for tablet view of navbar list */
@media screen and (max-width:768px){
    .Navbar_list{
        display: none;
    }
} 
li:hover{
    font-size:20px;
    color: green;
}



.Navbar_search{
    flex: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
 /* for mobile view */
@media screen and (max-width:640px){
    .Navbar_search{
        display: none;
    }
} 
 /* for Tablet view */
 @media screen and (max-width:768px){
    .Navbar_search{
        display: none;
    }
} 



/* homesection video css*/
.video_section{

    height: 700px;
    width:97.5%;

    margin: auto;

    background-image: url(../../Assets/Images/gadi.gif);
    background-repeat: no-repeat;
    background-size:100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* for mobile view of video section */
@media screen and (max-width:640px){
    .video_section{
        width:100vh;
        margin-top:80px;

        background-size: 100%;

        margin-left: 15px;
    }
}
/* for mobile view of video section */
@media screen and (max-width:768px){
    .video_section{
        margin-left: 20px;
    }
}


.Heading{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
/* for heading section and tablet view*/
 @media screen and (max-width:768px){
    .Heading{
        margin-top: -300px;
    }
} 


.heading_first{
    display: flex;
    justify-content: center;
    align-items: center;

}


.why_ev{
    height: 70px;
    width: 320px;
    background-color: darkgreen;
    opacity: 61%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    
    border-radius: 10px;
}
/* for mobile view of why ev section */
@media screen and (max-width:640px){
    .why_ev{
        margin-top:-30px;
    }
}
/* for tablet view of why ev section */
@media screen and (max-width:768px){
    .why_ev{
        height: 60px;
        width: 300px;
    }
}


.second-section{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
/* for second section and tablet view*/
@media screen and (max-width:768px){
    .second-section{
        margin-top: -250px;
    }
} 
/* for mobile view of second-section */
@media screen and (max-width:640px){
    .second-section{
        width: 100vh;
    }
}

.car_list{
    width: 100%;

    display: flex;
    justify-content:center;
    align-items:center;
}
/* for car list and tablet view*/
@media screen and (max-width:768px){
    .car_list ul{
        margin-left: -50px;
    }
} 


/* For slider*/
.slider_effect{
    height: 900px;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

/* for tablet view of slider */
@media screen and (max-width:768px){
    .slider_effect{
        height: 600px;
        width: 100%;

        margin-left: 15px;
    }
}
/* for mobile view of slider */
@media screen and (max-width:640px){
    .slider_effect{
        height: 600px;
        width: 100vh;

        margin-left: 15px;
    }
}

.swiper {
    height:80%;
    width:100%;
    object-fit: cover;
}
.swiper-slide img{
    height: 100%;
    width: 100%;
}


button{
    margin: 50px;
    height: 50px;
    width: 320px;
    border:2px solid black;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}
/* for tablet view of button */
@media screen and (max-width:768px){
    button{
        height: 50px;
        width: 280px;

    }
}
/* for tablet view of button text*/
@media screen and (max-width:768px){
    button h1{
       font-size: 30px;
       font-weight: 700;

    }
}
button:hover{
    height: 60px;
    width: 330px;

    font-size:20px;
    color: aliceblue;

    background-color: green;
}


/* for footer*/
.footer{
    width: 98%;
    height: 280px;
    background-color: black;
    
    display: flex;
    justify-content:space-between;
    align-items:center;

    padding-right: 30px;
}
/* for mobile view of footer */
@media screen and (max-width:640px){
    .footer{
        width: 100vh;
    }
}
.footer_list li{
    color: white;
    padding-top: 15px;
    margin-left: 10px;
    
}
.footer_list ul{
    display: flex;
    justify-content: center;
    align-items:flex-start;

    flex-direction: column;
}
/* for tablet view of footer list */
@media screen and (max-width:768px){
    .footer_list li{
        margin-left: -40px;

    }
}
.footer_logo{

    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
}
/* for tablet view of footer logo */
@media screen and (max-width:768px){
    .footer_logo{
        margin-left: 50px;

    }
}
/* for tablet view of footer logo */
@media screen and (max-width:768px){
    .footer_logo img{
        height: 40px;
        width: 220px;

    }
}
.c{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}
.rights{
    display: flex;
    justify-content:center;
    align-items: center;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}
.social_icon i{
    color: white;
    font-size: 30px;
    padding: 10px;
}
/* for tablet view of social icon */
@media screen and (max-width:768px){
    .social_icon i{
        font-size: 20px;
        padding: 5px;

    }
}

.social h3{
    color: white;

}
/* for tablet view of social */
@media screen and (max-width:768px){
    .social{
        font-size: 10px;

    }
}
.social p{
    margin-top: 1px;
    color: white;
}

/* For mobile devices */

.menu_bar{
    margin-right: 30px;
    flex: 1;

    height: 40px;
    width: 40px;
    border-radius: 50%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* 
for menu bar */
@media screen and (min-width:1024px){
    .menu_bar{
        display: none;
    }
}